body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

h1 {
  color: #ff00ff;
}

.menu {
  margin: 20px 0;
}

button {
  background-color: #eb4d3d; /* Màu nền khi không nhấn */
  border: none; /* Bỏ viền của nút */
  color: white; /* Màu chữ trắng */
  padding: 15px 32px; /* Khoảng cách bên trong nút */
  text-align: center; /* Căn giữa văn bản */
  display: inline-block; /* Đặt kiểu hiển thị của nút */
  font-size: 16px; /* Kích thước chữ */
  margin: 10px 0; /* Khoảng cách ngoài nút */
  cursor: pointer; /* Con trỏ chuột thay đổi khi di chuột qua nút */
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu nền trong 0.3 giây */
  border-radius: 12px; /* Bo tròn các góc của nút */
}

button.active {
  background-color: #ea34f7; /* Màu nền khi nhấn */
}

#result {
  margin-top: 20px;
  font-size: 18px;
  white-space: pre-wrap; /* Giữ nguyên định dạng văn bản */
}

/* Định dạng cho biểu mẫu */
form {
  max-width: 400px; /* Chiều rộng tối đa của biểu mẫu */
  margin: 0 auto; /* Căn giữa biểu mẫu */
  padding: 20px;
  background-color: #fff; /* Nền trắng cho biểu mẫu */
  border-radius: 12px; /* Bo tròn các góc của biểu mẫu */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng cho biểu mẫu */
}

/* Định dạng các ô nhập liệu */
input[type="text"],
input[type="number"] {
  width: calc(100% - 22px); /* Chiều rộng đầy đủ của ô nhập liệu */
  padding: 10px;
  border: 2px solid #eb4d3d; /* Viền màu hồng */
  border-radius: 8px; /* Bo tròn các góc của ô nhập liệu */
  font-size: 16px; /* Kích thước chữ */
  margin-bottom: 10px; /* Khoảng cách dưới mỗi ô nhập liệu */
  box-sizing: border-box; /* Bao gồm padding và border trong chiều rộng */
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #ea34f7; /* Màu viền khi ô nhập liệu được chọn */
  outline: none; /* Bỏ viền mặc định khi ô nhập liệu được chọn */
}
